* {
  color: black;
}

.crossword-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  max-width: 1400px; /* Adjust based on your content width */
  margin: auto;
  user-select: none;
}

.grid {
  flex: 1 0 auto; /* Allows the crossword grid to adjust based on content */
  justify-content: center;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 80px; /* Size of each cell */
  height: 80px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
}

.grid-cell.cursor-across {
  background-color: #F0FFFF; /* Changes the background when the cell is selected */
}

.grid-cell.cursor-down {
  background-color: #F0FFFF; /* Changes the background when the cell is selected */
}

.grid-cell.cursor {
  background-color: lightblue; /* Changes the background when the cell is selected */
}

.grid-cell.filled {
  background-color: black; /* Changes the background when the cell is filled */
}

.cell-number {
  position: absolute;
  top: 0; /* Ensures the number is aligned to the top of the cell */
  left: 5px; /* Properly aligns the number from the right, adjust if necessary */
  font-size: 14px; /* Increased font size for better visibility */
  color: black; /* Keeps the color subtle */
  padding-top: 2px; /* Provides a slight vertical offset */
}

.cell-letter {
  position: absolute;
  bottom: 5px;
  color: black;
  font-size: 50px;
}

.clues-panel {
  display: flex;
  justify-content: space-between; /* Ensures the panels are evenly spaced */
  font-family: Arial, sans-serif; /* Ensures a clean, readable font is used */
}

.clues-across, .clues-down {
  flex: 0 1 50%; /* Each clue panel will take up 50% of the clues-panel width */
  /* background-color: white; */
  /* border: 1px solid #ccc; */
  padding: 10px;
  overflow-y: auto;
  height: 300px;
}

.clues-header {
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 20px; /* Adds space below the header */
}

.clues-across ul, .clues-down ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin-top: 10px;
}

.clues-across li, .clues-down li {
  display: flex; /* Makes the list item a flex container */
  align-items: baseline; /* Aligns items along their baseline */
  padding: 5px;
  font-size: 16px;
}

.active-clue {
  background-color: lightblue; /* Changes the background when the cell is selected */
}

.clue-number {
  font-weight: bold;
  margin-right: 10px; /* Increases space between the number and the text */
  margin-left: 10px;
  white-space: nowrap; /* Keeps the number from wrapping */
}

.clue-text {
  text-align: left; /* Ensures text alignment is left */
  flex-grow: 1; /* Allows the text to take up the rest of the line */
}
