.App {
  text-align: left;
  background-color: #FFFCF5;
  color: #333333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
